/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	/*cursor: url("../img/cursor.png"), pointer;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ============== FONTS ============== */
h1,h2,h3,h5,h6,p,a{
	font-family:'Droid Sans', sans-serif;
	letter-spacing: 0.2em;
}

h1{
	font-size: 1.5rem;
	font-weight: lighter;
	text-transform: uppercase;
	margin-top: 1.5rem;
}

h2{
	font-size: 0.8rem;
	font-weight: lighter;
	opacity: 0.3;
	margin-top: 0.5rem;
}

a{
	text-decoration: none;
	color: #000;
}

/*SCROLL BAR*/
/*::-webkit-scrollbar {  
    width: 10px;  
}  
::-webkit-scrollbar-track {  
    background-color: #fff;   
}  
::-webkit-scrollbar-thumb {  
    background-color: #DBFFFD;              
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #FFDBDB;   
} */


/* ============== MENU ============== */
#bloc_deco{
	width: 100%;
	height: 1rem;
	background-color: #DBFFFD;
}

#menu{
	background-color: #DBFFFD;
	text-align: center;
	padding: 1rem 0;
	display: none;
}

#menu a{
	opacity: 0.5;
	font-size: 0.8rem;
}

#menu li{
	padding: 1.1rem 0;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
 	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

#menu li:hover{
	background-color: #fff;
	opacity: 0.3;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

/* BTN MENU */
#btn_menu{
	margin: 0 auto;
	width: 20rem;
	background-color: rgb(219, 255, 253);
	text-align: center;
	padding: 1.3rem 0;
}

#btn_menu:hover{
	cursor: pointer;
}

#btn_menu a{
	font-size: 0.8rem;
}

#menu_button{
	font-family: 'Droid Sans', sans-serif;
	letter-spacing: 0.2em;
}

hr{
	width: 50%;
	color: #000;
	opacity: 0.1;	
	margin-top: 0;
	margin-bottom: 0;
}

/* ============== CONTENT ============== */
#content{
	width: 100%;
	background-color: #fff;
	text-align: center;
}

#tagline{
	padding-top: 8rem;
}

#icon_content{
	padding: 5rem 0;
	overflow: hidden;
	clear: both;
	margin: 0 auto;
	width: 25rem;
}

.icon{
	margin: 0.25rem;
	display: inline-block;
}

#text_icon{
	padding-top: 2rem;
	display: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8rem;
}

/* ============== SECTION DESIGN WEB ============== */

.icon_cat{
	padding-top: 8rem;
}

.titre{
	padding-top: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8rem;	
} 

.thumb_content{
	padding: 5rem 0;
	margin: 0 auto;
	overflow: hidden;
}

.thumb_content .titre{
	padding: 1rem 0;	
}

.thumb{
	position: relative;
	display: inline-block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;	
}

.thumb img{
	margin: 0.5rem;
}

.thumb p{
	display: inline-block;
}

.levitate{
	display: inline-block;
	-webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.levitate:hover {
	-webkit-transform: translate(0,-1.5rem);
    -moz-transform: translate(0,-1.5rem);
    -o-transform: translate(0,-1.5rem);
    -ms-transform: translate(0,-1.5rem);
    transform: translate(0,-1.5rem);
}

.hover{
	opacity: 0;
	display: inline-block;
	background-color: #DBFFFD;
	width: 250px;
	height: 400px;
	position: absolute;
	margin: 0.5rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;		
}

.hover:hover{
	opacity: 1;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;		
}

.rectangle-haut{
	width: 50px;
	height: 4px;
	background-color: #000;
	margin: 0 auto;
	margin-top: 10rem;
}

.rectangle-bas{
	width: 50px;
	height: 4px;
	background-color: #000;
	margin: 0 auto;
}

/* ============== FOOTER ============== */
#footer {
   position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 1rem;
}